@{
    ViewData["Title"] = "Despre";
}
<h2>
    Verifica daca un taxi este autorizat.
    </h2>
<h3>
    Aplicatie web facuta de <a href="http://msprogrammer.serviciipeweb.ro/">Andrei Ignat</a>
    <br /><br />
    dupa o idee de Radu Iovescu.
    <br /><br />
    Aplicatie <a href="https://play.google.com/store/apps/details?id=com.bellonaElectronics.VerifyTaxiApp&hl=en">Android</a> facuta de <a href="http://bellonaelectronics.com/">Roxana Beloiu/Vlad Siretchi</a>

</h3>


