@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>
    Site Web facut de 

    <a href="http://msprogrammer.serviciipeweb.ro/">Andrei Ignat</a>
    <br />
    dupa o idee de Radu Iovescu.
    <br />
    Aplicatie <a href="https://play.google.com/store/apps/details?id=com.bellonaElectronics.VerifyTaxiApp&hl=en">Android</a> facuta de <a href="http://bellonaelectronics.com/">Roxana Beloiu/Vlad Siretchi</a>
</h3>