@{
    ViewData["Title"] = "Aparitii pe internet";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a href="https://www.iqads.ro/articol/41405/hei-taximetrelor-care-sunteti-ilegale">https://www.iqads.ro/articol/41405/hei-taximetrelor-care-sunteti-ilegale</a>
</p>
<p>
    <a href="http://ziuadecj.realitatea.net/economie/aplicatia-care-verifica-autorizatiile-taximetristilor-din-cluj--169826.html">http://ziuadecj.realitatea.net/economie/aplicatia-care-verifica-autorizatiile-taximetristilor-din-cluj--169826.html</a>
</p>
<p>
    <a href="http://www.ziarelive.ro/stiri/aplicatia-care-verifica-autorizatiile-taximetristilor-din-cluj.html">http://www.ziarelive.ro/stiri/aplicatia-care-verifica-autorizatiile-taximetristilor-din-cluj.html</a>
</p>
<p>
    <a href="http://taxiobservator.over-blog.com/2018/01/da-acest-taxi-este-legal.o-aplica-ie-care-i-i-permite-sa-verifici-daca-calatore-ti-cu-un-taxi-sau-cu-un-taxi-pirat.html">http://taxiobservator.over-blog.com/2018/01/da-acest-taxi-este-legal.o-aplica-ie-care-i-i-permite-sa-verifici-daca-calatore-ti-cu-un-taxi-sau-cu-un-taxi-pirat.html</a>
</p>