@{
    ViewData["Title"] = "Home Page";
}
<h3>Deocamdata datele sunt disponibile doar pentru Bucuresti.</h3><br/>
Numar inmatriculare:<br />
<input type="text"  id="plateNumber"/>
<button value="Find" onclick="findTaxi('plateNumber')">Verifica Taxi</button>
<br />
<span id="result"></span>