@{
    ViewData["Title"] = "Home Page";
}

Plate number:<br />
<input type="text"  id="plateNumber"/>
<button value="Find" onclick="findTaxi('plateNumber')">Find Plate Number</button>
<br />
<span id="result"></span>